@charset "utf-8";

/* --------------------------------------------------------------------------------------
RESET
--------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;

vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* LINK STYLES
--------------------------------------------------------- */
a {
	cursor: pointer;
	outline: none;
}

a:link {
	/*color: #154086;*/
	text-decoration: none;
}

a:visited {
	/*color: #154086;*/
	text-decoration: none;
}

a:hover {
	/*color: #154086;*/
	text-decoration: none;
}

a:active {
	/*color: #154086;*/
	text-decoration: none;
}

/* GENERAL STYLES
--------------------------------------------------------- */
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
font-size: .1em;
}

.clearfix {
display: inline-block;
}

/*\*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/**/

img {
	width: 100%;
  vertical-align: bottom;
}

@font-face{
font-family:'Myanmar Sans Pro';
src:url(/sites/default/files/fontyourface/local_fonts/Myanmar_Sans_Pro-normal-normal/MyanmarSansPro-Regular.ttf) format("truetype");
font-style:normal;
font-weight:normal;
}
@font-face{
font-family:'Pyi Daung Su';
src:url(/sites/default/files/fontyourface/local_fonts/Pyi_Daung_Su-normal-normal/pyidaungsu-1.1.ttf) format("truetype");
font-style:normal;
font-weight:normal;
}
